<div class="header">
  <div class="header-content">
    <div class="navbar-left">
      <div id="wrapper" class="user-icons">
        <span class="user-icon user-ntf">
          <a href="#" class="menu">
            <img src="assets/images/ntf-icon.svg" alt="" />
            <span class="badge"></span
          ></a>
        </span>
      </div>
      <div class="user-icons">
        <span class="user-icon user-order">
          <a href="#">
            <img src="assets/images/list-icon.svg" alt="" />
            <span class="badge"></span
          ></a>

          {#
          <ul class="ntf-menu">
            <h4>الإشعارات</h4>
            <li class="ntf-item">
              <p class="ntf-desc">
                تم توصيل طلبك بنجاح .. نتمنى ان تكون تجربه سعيدة مع سنقر .. هيا
                اطلب من سنقر ما تريد
              </p>
              <span class="ntf-time">الآن</span>
              <i class="ntf-status"></i>
            </li>
            <li class="ntf-item">
              <p class="ntf-desc">
                تم توصيل طلبك بنجاح .. نتمنى ان تكون تجربه سعيدة مع سنقر .. هيا
                اطلب من سنقر ما تريد
              </p>
              <span class="ntf-time">الآن</span>
              <i class="ntf-status"></i>
            </li>
          </ul>
          #}
        </span>
      </div>

      <div class="user-avatar">
        <span>مني مصطفي</span>
        <img src="assets/images/avatar.png" alt="user-image" />

        <ul class="user-menu">
          <li>
            <a href="#">معلومات الحساب</a>
          </li>
          <li>
            <a href="#">كلمة المرور</a>
          </li>
          <li>
            <a href="#">تسجيل الخروج</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
