<div class="ntf-menu" >
  <div class="header-ntf">
    <a href="#"> الإشعارات ( 15 ) </a>
    <a class="close-icon" href="#"><i class="fa fa-times"></i> </a>
  </div>
  <ul class="ntf-content">
    <li>
      <a href="#">
        <div class="ntf-item">
          <div class="ntf-icon">
            <img src="assets/images/ntf-icon-1.png" alt="" />
          </div>
          <div class="ntf-details">
            <h6>عنوان الإشعار</h6>
            <p class="ntf-text">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
              سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع.
            </p>
            <p class="ntf-time">منذ 3 ساعات</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="ntf-item">
          <div class="ntf-icon">
            <img src="assets/images/ntf-icon-2.png" alt="" />
          </div>
          <div class="ntf-details">
            <h6>عنوان الإشعار</h6>
            <p class="ntf-text">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
              سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع.
            </p>
            <p class="ntf-time">منذ 3 ساعات</p>
          </div>
        </div></a
      >
    </li>
    <li>
      <a href="#">
        <div class="ntf-item">
          <div class="ntf-icon">
            <img src="assets/images/ntf-icon-3.png" alt="" />
          </div>
          <div class="ntf-details">
            <h6>عنوان الإشعار</h6>
            <p class="ntf-text">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
              سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع.
            </p>
            <p class="ntf-time">منذ 3 ساعات</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="ntf-item">
          <div class="ntf-icon">
            <img src="assets/images/ntf-icon-4.png" alt="" />
          </div>
          <div class="ntf-details">
            <h6>عنوان الإشعار</h6>
            <p class="ntf-text">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
              سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع.
            </p>
            <p class="ntf-time">منذ 3 ساعات</p>
          </div>
        </div></a
      >
    </li>
    <li>
      <a href="#">
        <div class="ntf-item">
          <div class="ntf-icon">
            <img src="assets/images/ntf-icon-5.png" alt="" />
          </div>
          <div class="ntf-details">
            <h6>عنوان الإشعار</h6>
            <p class="ntf-text">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
              سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع.
            </p>
            <p class="ntf-time">منذ 3 ساعات</p>
          </div>
        </div></a
      >
    </li>
    <li>
      <a href="#">
        <div class="ntf-item">
          <div class="ntf-icon">
            <img src="assets/images/ntf-icon-5.png" alt="" />
          </div>
          <div class="ntf-details">
            <h6>عنوان الإشعار</h6>
            <p class="ntf-text">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
              سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع.
            </p>
            <p class="ntf-time">منذ 3 ساعات</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
<div class="overlay-slide"></div>
