<div class="search-filter">
  <div class="search-area">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>رقم هاتف / هوية العميل</label>

          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>نوع المشروع</label>

          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>رقم المشروع</label>

          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn-main btn-block ">بحث</button>
      </div>
    </div>
  </div>
</div>
