<div class="main-sidebar">
  <div class="slider-content">
    <ul class="icons-list">
      <li>
        <a href="#" class="hvr-grow">
          <img src="assets/images/logo.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="active icon-th-large hvr-icon"></i>
          <span class="title-name">الرئيسية</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-envelope-open hvr-icon"></i>
          <span class="title-name">البريد الوارد</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-file-text hvr-icon"></i>
          <span class="title-name">أعمالي</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-calendar hvr-icon"></i>
          <span class="title-name">التقويم</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-cog hvr-icon"></i>
          <span class="title-name">الخدمات</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-box hvr-icon"></i>
          <span class="title-name">المشاريع</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-list hvr-icon"></i>
          <span class="title-name">المهام</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-clock hvr-icon"></i>
          <span class="title-name">المواعيد</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-person hvr-icon"></i>
          <span class="title-name">العملاء</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-staff hvr-icon"></i>
          <span class="title-name">الموظفين</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-users hvr-icon"></i>
          <span class="title-name">المستخدمين</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-checklist hvr-icon"></i>
          <span class="title-name">العهدة</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-rules hvr-icon"></i>
          <span class="title-name">القواعد</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="sliedbar-show">
  <div class="slidebar-mobile">
    <ul class="icons-list">
      <li>
        <a href="#" class="hvr-grow">
          <img src="assets/images/logo.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="active icon-th-large hvr-icon"></i>
          <span class="title-name">الرئيسية</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-envelope-open hvr-icon"></i>
          <span class="title-name">البريد الوارد</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-file-text hvr-icon"></i>
          <span class="title-name">أعمالي</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-calendar hvr-icon"></i>
          <span class="title-name">التقويم</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-cog hvr-icon"></i>
          <span class="title-name">الخدمات</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-box hvr-icon"></i>
          <span class="title-name">المشاريع</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-list hvr-icon"></i>
          <span class="title-name">المهام</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-clock hvr-icon"></i>
          <span class="title-name">المواعيد</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-person hvr-icon"></i>
          <span class="title-name">العملاء</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-staff hvr-icon"></i>
          <span class="title-name">الموظفين</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-users hvr-icon"></i>
          <span class="title-name">المستخدمين</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-checklist hvr-icon"></i>
          <span class="title-name">العهدة</span>
        </a>
      </li>
      <li>
        <a href="#" class="hvr-icon-bounce">
          <i class="icon-rules hvr-icon"></i>
          <span class="title-name">القواعد</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="overlay-slide-mobile"></div>

  <div id="wrapper-mobile">
    <a href="#" class="menu-mobile"> <i class="fa fa-bars"></i> </a>
  </div>
</div>
