{% extends "templates/layouts/app.html" %}


{% block content %}
{% set page_title = "home" %} 
{% include "templates/components/header.njk" %}
{% include "templates/components/sidebar.njk" %}


<div class="main-content">
	<div class="wellcome">
		<h2>أهلا بيك ، مطعم كرم الشام</h2>

	</div>
	<div class="row">

		<div class="col-md-4">
			<div class="info-box">
				<div class="info-content">
					<span class="info-title">العمليات الناجحة</span>
					<span class="info-number">6,443</span>
					<span class="info-status">-10.45</span>
				</div>
				<div class="info-chart">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="info-box">
				<div class="info-content">
					<span class="info-title">العمليات الناجحة</span>
					<span class="info-number">6,443</span>
					<span class="info-status">-10.45</span>
				</div>
				<div class="info-chart">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="info-box">
				<div class="info-content">
					<span class="info-title">العمليات الناجحة</span>
					<span class="info-number">6,443</span>
					<span class="info-status">-10.45</span>
				</div>
				<div class="info-chart">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="info-box">
				<div class="info-content">
					<span class="info-title">العمليات الناجحة</span>
					<span class="info-number">6,443</span>
					<span class="info-status">-10.45</span>
				</div>
				<div class="info-chart">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="info-box">
				<div class="info-content">
					<span class="info-title">العمليات الناجحة</span>
					<span class="info-number">6,443</span>
					<span class="info-status">-10.45</span>
				</div>
				<div class="info-chart">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="info-box">
				<div class="info-content">
					<span class="info-title">العمليات الناجحة</span>
					<span class="info-number">6,443</span>
					<span class="info-status">-10.45</span>
				</div>
				<div class="info-chart">
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="card-box credit-card">
				<i class="fas fa-dollar-sign"></i>
				<div class="card-content">
					<span class="card-count">1869 </span>
					<span class="card-title">رصيد الطلبات</span>
					<p class="card-desc">قم بفحص رصيد الطلبات وجميع الكلمات تكتب هنا لحجز مكان الشرح لرصيد الطلبات الخاص بالسكشن</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-box order-card">
				<i class="fas fa-box-open"></i>
				<div class="card-content">
					<span class="card-count">1869 </span>
					<span class="card-title">طلبات التوصيل</span>
					<p class="card-desc">قم بفحص رصيد الطلبات وجميع الكلمات تكتب هنا لحجز مكان الشرح لرصيد الطلبات الخاص بالسكشن</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-box book-card">
				<i class="fas fa-chair"></i>
				<div class="card-content">
					<span class="card-count">1869 </span>
					<span class="card-title">طلبات حجز المقاعد</span>
					<p class="card-desc">قم بفحص رصيد الطلبات وجميع الكلمات تكتب هنا لحجز مكان الشرح لرصيد الطلبات الخاص بالسكشن</p>
				</div>
			</div>
		</div>

	</div>

</div>




{% endblock %}