/* _____ VARIABLES _____ */

$main-border-radius: 6px;
$main-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
$main-transition: all 200ms ease-in-out;

// Colors
// ==========================================================================

// $color-text: #fff;
// $color-pink: #33ccff;
// $color-default-light: #fff;
// $color-default-dark: #333;
// $color-default-darker: #000;

// $color-main: #5f2749;
// $color-secondary: #fa8967;

// Colors

// $primary-color-light: #9d2f4c;

// $secondary-color-light: #fdc175;
// $link-color: #00a6ed;

///////////////////////////////////////
//VISION-colors
$main-color: #072d4d;
$white-color: #ffffff;
$border-color: #83a1c3;
$light-gray: #8b8b97;
$black-color: #000000;
$gray-grade-other: #ececec;
$dark-gray: #8b8b97;
$orange-color: #f69c22;
$light-orange: #fff3db;
$blue-color: #034a90;
$green-color: #41aa55;
$light-green: #e0efdc;
$red-color: #ff0000;
$Light-gray: #eaeaea;
$Light-blue: #d8ebff;
$facebook-color: #5263c6;
$twitter-color: #40c4ff;
$instagram-color: #a43564;
$primary-color: #2354f3;
$secondary-color: #fa8967;
