{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/partials/header.njk" %} {% include
"templates/partials/sidebar.njk" %}
{% include
"templates/partials/notifications-list.njk" %}

<div class="main-content">
  <a class="btn-main btn-add" href="#">
    <span><i class="fa fa-plus"></i> </span>
    إضافة مشروع
  </a>
  <table class="table order-table table-responsive-sm">
    <thead class="thead-light">
      <tr>
        <th class="frist-column" scope="col">اسم المشروع</th>
        <th scope="col">اسم العميل</th>
        <th scope="col">تاريخ البداية</th>
        <th scope="col">تاريخ النهاية</th>
        <th scope="col">نسبة الإنجاز</th>
        <th class="last-column" scope="col">التفاصيل</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">  اسم المشروع</th>
        <th >عمر القريقرى</th>
        <td>25-10-2021</td>
        <td>25-10-2021</td>
        <td>25 %</td>
        <td>
          <a href="#"><i class="fa fa-external-link"></i> </a>
        </td>
      </tr>
      <tr>
        <th scope="row">  اسم المشروع</th>
        <th >عمر القريقرى</th>
        <td>25-10-2021</td>
        <td>25-10-2021</td>
        <td>25 %</td>
        <td>
          <a href="#"><i class="fa fa-external-link"></i> </a>
        </td>
      </tr>
      <tr>
        <th scope="row">  اسم المشروع</th>
        <th >عمر القريقرى</th>
        <td>25-10-2021</td>
        <td>25-10-2021</td>
        <td>25 %</td>
        <td>
          <a href="#"><i class="fa fa-external-link"></i> </a>
        </td>
      </tr>
      <tr>
        <th scope="row">  اسم المشروع</th>
        <th >عمر القريقرى</th>
        <td>25-10-2021</td>
        <td>25-10-2021</td>
        <td>25 %</td>
        <td>
          <a href="#"><i class="fa fa-external-link"></i> </a>
        </td>
      </tr>
     
    </tbody>
  </table>

  {% endblock %}
</div>
